{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}
{{ form_start(form) }}

{{ form_row(form.country) }}
<br>
{{ form_row(form.city) }}
<br>

<button type="submit">Soumettre</button>



{{ form_end(form) }}
{% endblock  %}