{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}

<br>
<p>Location : {{ location.country }}</p> <p>{{ location.city }}</p>



<button type="submit">Soumettre</button>

{% endblock %}