<div class="foot">
    <a href="#" id="copy">Copyright</a>
    <a href="#" id="part">Partners</a> 
    <div class="center">   
        <p>By a fan for the fans</p>
        <img src="/images/Vibestage_logo.png" alt="Logo Vibestage"><br>
        <a href="#">Politics</a>
    </div>
</div>
