  <div class = "intro">
            <h1 class="h1-intro">Vibestage</h1>
            <h2 class="h2-intro my-5">Pour vibrer au rythme des artistes</h2>
                <div class = "row justify-content-center">
                    <div class="col-6 col-sm-4">
                        <img class="img-intro" src = "https://i.pinimg.com/736x/07/43/9f/07439f93003450ccbdfe961a95f6318c.jpg" alt="Dj feminin au platine"/>
                    </div>
                    <div class="col-6 col-sm-4">
                        <img class="img-intro" src ="https://i.pinimg.com/1200x/74/08/b8/7408b895005c0b9c5229d3e12a91d1c3.jpg" alt="Femme de dos qui va au festival"/>
                    </div>
                </div>
        </div>