<div class="container">
    <nav>
        <div class="logo">
          <img src="/images/Vibestage_logo.png" alt="Logo Vibestage">
        </div>
        <div classe="menu">
            <a href="#">Acceuil</a>
            <a href="#">Artiste</a>
            <a href="#">Event</a>
        </div>
        <div classe="connect">
            <button class="connect">Connect</button>
            <button class="register">Register</button>
        </div>
    </nav>
</div>
