<div class="container">
    <nav>
        <img src=""
        <ul>
            <li><a href="#">Acceuil</a></li>
            <li><a href="#">Artiste</a></li>
            <li><a href="#">Event</a></li>
        </ul>
        <button class="connecter"><img src="">Connect</button>
        <button class="disconnect"><img src="">Disconnect</button>
    </nav>
</div>
