{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block section %}

  <div class = "button-user">
    <a class="btn btn-warning btn-lg active" role="button" href = "{{path('user_comment')}}"><h2>Comment</h2></a>
  </div>


{% endblock %}
